              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#reading">
                      Reading Abstract
                    </a>
                  </li>
				  <li>
                    <a href="/categories.html#android">
                      Android
                    </a>
                  </li>
				  <li>
                    <a href="/categories.html#videodec">
                      Video Code/Decode
                    </a>
                  </li>
				  <li>
                    <a href="/categories.html#C++">
                      C++
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#java">
                      Java
                    </a>
                  </li>                  
                  <li>
                    <a href="/categories.html#linux">
                      Linux
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#embedded">
                      Embedded
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#other">
                      Other
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
