          <ul class="nav navbar-nav">
            <li>
              <a href="/archives.html">
                Archives
              </a>
            </li>
			<li>
              <a href="https://github.com/ttxgz?tab=repositories">
                Projects
              </a>
            </li>
			<li>
              <a href="/about.html">
                About
              </a>
            </li>
			<li>
              <a href="https://www.linkedin.com/pub/liao-wanming/80/a91/4a4">
                My Linkedin
              </a>
            </li>
            <li>
              <a href="/notes.html">
                Notes
              </a>
            </li>
         </ul>
